.app {
    position: relative;
    width: 650px;
    background: #2b3138;
    border-radius: 10px;

    .pointer {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translate3d(-50%, -25px, 0);
        height: 50px;
        filter: drop-shadow(0 0 20px rgba(230, 174, 174, 0.3));
    }

    .scope {
        overflow: hidden;

        .list {
            position: relative;
            display: inline-flex;
            left: 0;
            height: 200px;
            transform: translate3d(0, 0, 0);
            list-style: none;
            transition: 5s cubic-bezier(0.21, 0.53, 0.29, 0.99);

            .list__item {
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 180px;
                width: 200px;
                height: calc(200px * 1);
                opacity: 0.5;
                transition: 0.3s ease;

                img {
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                    transition: 0.3s ease;
                }
            }
            .list__item:nth-child(2n) {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .start {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 20px, 0);
        padding: 8px 25px;
        border: none;
        border-radius: 5px;
        outline: none;
        background: #eb5146;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        transition: opacity 0.2s ease;
        box-shadow: 0 0 30px 0 rgba(255, 118, 118, 0.2);
        cursor: pointer;

        .start:hover {
            opacity: 0.8;
        }
    }
}
.result {
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
}
