@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: #13161a;
}

.active {
    opacity: 1;

    img {
        transform: scale(1.05);
    }
}
.gray {
    border: solid 6px #666666;
}
.green {
    border: solid 6px #006605;
}
.blue {
    border: solid 6px #020492;
}
.purple {
    border: solid 6px #3d0058;
}
.orange {
    border: solid 6px #c96100;
}
.legendary {
    border: solid 6px #c70000;
}
